.env
.production.env

auth/dist/
auth/dist-test/
auth/node_modules/

hooks/build/
hooks/build-test/
hooks/node_modules/

web/.next/
web/node_modules/

**/.pnpm-store/

minio/data/
postgres/data/
redis/data/
# Secrets & Keys
secrets/
*secrets*.yml
# *secrets*.yml.example
*.pem
*.crt
*.key
ansible/inventory/group_vars/all/vars.yml
ansible/inventory/hosts.yml
