# Rename this file to secrets.yml and remove .example suffix
# Add your sensitive values here. DO NOT COMMIT secrets.yml to Git.
# You can also use ansible-vault to encrypt this file.

aocr_postgres_password: "YOUR_POSTGRES_PASSWORD"
aocr_redis_password: "YOUR_REDIS_PASSWORD"
aocr_hooks_token: "YOUR_HOOKS_TOKEN"
aocr_registry_replregSecret: "YOUR_REPLREG_SECRET"

# Optional: GitHub PAT for pulling from ghcr.io
# If provided, the playbook will run `helm registry login` before upgrading.
aocr_github_username: "YOUR_GITHUB_USERNAME"
aocr_github_pat: "YOUR_GITHUB_PAT"

# AWS Profile to use for S3 credentials
# This profile must exist in your ~/.aws/credentials
aocr_aws_profile: "default"
